<h1 class="text-center m-4 text-danger">Weather App</h1>
<div class="formContainer">
    <form action="" [formGroup]="searchForm">
        <input class="form-control" type="text" placeholder="type city" formControlName = "search">
        <button class="btn btn-primary" (click)="weather(this.searchForm.value.search)">Search</button>
    </form>
</div>

<div class="weatherData container-fluid text-center">
    <h6>{{weatherData.cityName}}</h6>
    <h1 class="text-danger"> {{ weatherData.temp | number:'1.2-2' }}°C</h1>
    <p>More Information</p>

    <div class="more_info card m-5">
        <div class="m-3">
            min {{ weatherData.temp_min | number:'1.2-2' }}°C
            max {{weatherData.temp_max | number:'1.2-2' }} °C
        </div>
        <div class="m-3">
            humidity {{weatherData.humidity}}
            wind {{weatherData.wind}}
        </div>
        
    </div>
</div>